:root {
    --light-mode: rgb(229, 236, 244);
    --dark-mode: rgb(49, 55, 69);
}

html, body {
    margin: 0;
}

.container {
    height: 100%;
}

body.light-mode {
    background-color: var(--light-mode);
    color: var(--dark-mode);
}

body.dark-mode {
    background-color: var(--dark-mode);
    color: var(--light-mode);
}

.toggle-icon {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
}

.back-button {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}